**
!Dockerfile
!gateway/
!gateway/target/
!gateway/target/*.jar
!space-service/
!space-service/target/
!space-service/target/*.jar
!access-service/
!access-service/target/
!access-service/target/*.jar
!billing-service/
!billing-service/target/
!billing-service/target/*.jar
!pass-service/
!pass-service/target/
!pass-service/target/*.jar
!analytics-service/
!analytics-service/target/
!analytics-service/target/*.jar
