**
!docker/
!docker/Dockerfile.service
!docker/Dockerfile.frontend
!docker/nginx.conf
!gateway/
!gateway/target/
!gateway/target/gateway-*.jar
!space-service/
!space-service/target/
!space-service/target/space-service-*.jar
!access-service/
!access-service/target/
!access-service/target/access-service-*.jar
!billing-service/
!billing-service/target/
!billing-service/target/billing-service-*.jar
!pass-service/
!pass-service/target/
!pass-service/target/pass-service-*.jar
!analytics-service/
!analytics-service/target/
!analytics-service/target/analytics-service-*.jar
!frontend/
!frontend/dist/
!frontend/dist/**
